streamlit==1.32.0
networkx==3.2.1
numpy==1.26.3
pandas==2.1.4
matplotlib==3.8.2
sentence-transformers==2.5.1
PyPDF2==3.0.1
nx-arangodb
python-arango==7.8.1
plotly==5.18.0
pyarrow==14.0.2
pydeck==0.8.0
watchdog==3.0.0
python-dotenv==1.0.0